.navbar {
    background-color: #17a2b8;
    border: 2px solid grey;
    margin: 5px;
    padding: 0px;
}
.footer {
    text-align: center;
    padding: 10px;
}
.card {
    text-align: center;
}
.media {
    padding: 10px;
}
.socialDiv {
    align-self: center;
}
#socialIcons {
    width: 250px;
    margin-left: 20px;
}
.icons {
    padding: 10px;
}
.contactTitle {
    text-align: center;
    padding: 20px;
}
.form-group {
    margin: 25px;
}